<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GymTerminatorApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/GymTerminatorApp.styles.css" asp-append-version="true" />
	<link href="~/css/principallayout.css" rel="stylesheet" />
    <link href="bootstrap.min.css" rel="stylesheet" />
    <link href="bootstrap.bundle.min.js" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Terminator Gym</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole("Administrador"))
                        {


                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Entrenador" asp-action="Index">Entrenador</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Especialidad" asp-action="Index">Especialidad</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Evento" asp-action="Index">Evento</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Membresium" asp-action="Index">Membresia</a>
                            </li>

                        }
                        @if (User.IsInRole("Cliente"))
                        {

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="MembresiaMiembro" asp-action="Index"> Membresia</a>
                        </li>
                               

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="MiembroEvento" asp-action="Index"> Eventos</a>
                            </li>

                         @if (User.IsInRole("Entrenador"))
                          {
                            

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Ejercicio" asp-action="Index">Ejercicio</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="PlanEntrenamiento" asp-action="Index">Plan de Entrenamiento</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="PlanEntrenamientoEjercicio" asp-action="Index">Ejercicios del plan de entrenamiento</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="PlanEntrenamientoMiembro" asp-action="Index">Miembros del plan de Entrenamiento</a>
                            </li>


                        }
                           }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    @RenderSection("masthead", required : false)
    <div class="container">
        <main role="main" class="py-5">
            @RenderBody()
        </main>
    </div>

    <footer class=" footer bg-light text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mt-3">
                    <h5 class="text-uppercase">Gym Terminator App</h5>
                    <p>&copy; 2023 - Todos los derechos son reservados</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

