@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@{
    ViewData["Title"] = "Home Page";
}

@if(User.IsInRole("Administrador")){
    <h1>Hola administrador</h1>
}
else
{
    @if (User.IsInRole("Cliente"))
    {
        <h1>Hola Cliente</h1>
    }
}

